body {
    text-align: center;
}

h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.25em;
    font-weight: bold;
}

ul {
  list-style-type: none;
}

li {
    text-align: center;
    display: flex;
    justify-content: center;
}